In [1]:
import sqlite3

In [2]:
"""Sqlite3: Load file, execute query, print dictionary with keys (columns from SQL tables) and values  """

def Sqlite_Load(file,query='query1'):
    conn =sqlite3.connect(file)
    conn.row_factory = sqlite3.Row
    cur=conn.cursor()
    cur.execute(query1)
    rows = cur.fetchall()
    for row in rows:
        print(dict(row))
    conn.close()

In [3]:
'''Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!'''

query1 = """
        SELECT
	LOW.Location AS Location,
	LOW.Revenue AS Revenue
FROM
	(Select
		Sub.Facility as Location,
		Sum(Sub.Extended_Price) as Revenue
	FROM
		(SELECT
			F.name AS Facility,
			CASE WHEN B.memid =0 THEN (B.slots*F.guestcost)
				ELSE (B.slots*F.membercost)END as Extended_Price
		FROM `Bookings` B
			INNER JOIN Facilities F ON F.facid = B.facid
			INNER JOIN Members M ON M.memid = B.memid ) as Sub
GROUP BY
		Sub.Facility ) as LOW
WHERE LOW.Revenue < 1000 

ORDER BY LOW.Revenue DESC """

file = 'sqlite_db_pythonsqlite.db'

Sqlite_Load(file,query=query1)

{'Location': 'Pool Table', 'Revenue': 270}
{'Location': 'Snooker Table', 'Revenue': 240}
{'Location': 'Table Tennis', 'Revenue': 180}

In [4]:
'''Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order'''

query1 = """
        SELECT
NOM.nominated,
NOM.nominator

FROM
	(SELECT
		 M1.surname ||', '|| M1.firstname as nominated,
		Initiator.Invitor as nominator
	FROM
		(Select
			M.surname ||', '|| M.firstname as Invitor ,
			M.memid,
			Sub1.recommendorID
		FROM
			(SELECT Distinct recommendedby as recommendorID FROM `Members`) As Sub1
		  	 INNER JOIN `Members` M on M.memid = Sub1.recommendorID) As Initiator
		 INNER JOIN `Members` M1 on M1.recommendedby = Initiator.recommendorID
WHERE Initiator.Invitor != 'GUEST, GUEST') AS NOM
ORDER BY NOM.nominated        """

file = 'sqlite_db_pythonsqlite.db'

Sqlite_Load(file,query=query1)

{'nominated': 'Bader, Florence', 'nominator': 'Stibbons, Ponder'}
{'nominated': 'Baker, Anne', 'nominator': 'Stibbons, Ponder'}
{'nominated': 'Baker, Timothy', 'nominator': 'Farrell, Jemima'}
{'nominated': 'Boothe, Tim', 'nominator': 'Rownam, Tim'}
{'nominated': 'Butters, Gerald', 'nominator': 'Smith, Darren'}
{'nominated': 'Coplin, Joan', 'nominator': 'Baker, Timothy'}
{'nominated': 'Crumpet, Erica', 'nominator': 'Smith, Tracy'}
{'nominated': 'Dare, Nancy', 'nominator': 'Joplette, Janice'}
{'nominated': 'Genting, Matthew', 'nominator': 'Butters, Gerald'}
{'nominated': 'Hunt, John', 'nominator': 'Purview, Millicent'}
{'nominated': 'Jones, David', 'nominator': 'Joplette, Janice'}
{'nominated': 'Jones, Douglas', 'nominator': 'Jones, David'}
{'nominated': 'Joplette, Janice', 'nominator': 'Smith, Darren'}
{'nominated': 'Mackenzie, Anna', 'nominator': 'Smith, Darren'}
{'nominated': 'Owen, Charles', 'nominator': 'Smith, Darren'}
{'nominated': 'Pinker, David', 'nominator': 'Farrell, Jemima'}
{'nominated': 'Purview, Millicent', 'nominator': 'Smith, Tracy'}
{'nominated': 'Rumney, Henrietta', 'nominator': 'Genting, Matthew'}
{'nominated': 'Sarwin, Ramnaresh', 'nominator': 'Bader, Florence'}
{'nominated': 'Smith, Jack', 'nominator': 'Smith, Darren'}
{'nominated': 'Stibbons, Ponder', 'nominator': 'Tracy, Burton'}
{'nominated': 'Worthington-Smyth, Henry', 'nominator': 'Smith, Tracy'}

In [5]:
'''Q12: Find the facilities with their usage by member, but not guests '''

query1 = """
        SELECT 
	F.name as Facility,
	ROUND (Sum(B.slots/2) ,2) AS Member_Hours 
FROM `Bookings` B
	INNER JOIN `Facilities` F on F.facid = B.facid
WHERE memid !=0 
GROUP BY F.name
ORDER BY ROUND (Sum(B.slots/2) ,2) DESC """

file = 'sqlite_db_pythonsqlite.db'

Sqlite_Load(file,query=query1)

{'Facility': 'Massage Room 1', 'Member_Hours': 442.0}
{'Facility': 'Snooker Table', 'Member_Hours': 430.0}
{'Facility': 'Table Tennis', 'Member_Hours': 397.0}
{'Facility': 'Badminton Court', 'Member_Hours': 379.0}
{'Facility': 'Tennis Court 1', 'Member_Hours': 329.0}
{'Facility': 'Tennis Court 2', 'Member_Hours': 311.0}
{'Facility': 'Squash Court', 'Member_Hours': 209.0}
{'Facility': 'Pool Table', 'Member_Hours': 66.0}
{'Facility': 'Massage Room 2', 'Member_Hours': 27.0}

In [6]:
'''Q13: Find the facilities usage by month, but not guests '''

query1 = """
        SELECT 
	strftime ( '%m',B.starttime)||'/'|| strftime ('%Y',B.starttime) AS Month_of_Use,
	F.name as Facility,
	ROUND (Sum(B.slots/2) ,2) AS Member_Hours 
FROM `Bookings` B
	INNER JOIN `Facilities` F on F.facid = B.facid
WHERE memid !=0 
GROUP BY 
	strftime ( '%m',B.starttime)||'/'|| strftime ('%Y',B.starttime),
	F.name,
	strftime ( '%m',B.starttime)
ORDER BY 
	strftime ( '%m',B.starttime)||'/'|| strftime ('%Y',B.starttime) DESC,
	ROUND (Sum(B.slots/2) ,2) DESC
 """
file = 'sqlite_db_pythonsqlite.db'

Sqlite_Load(file,query=query1)

{'Month_of_Use': '09/2012', 'Facility': 'Snooker Table', 'Member_Hours': 202.0}
{'Month_of_Use': '09/2012', 'Facility': 'Massage Room 1', 'Member_Hours': 201.0}
{'Month_of_Use': '09/2012', 'Facility': 'Table Tennis', 'Member_Hours': 200.0}
{'Month_of_Use': '09/2012', 'Facility': 'Badminton Court', 'Member_Hours': 177.0}
{'Month_of_Use': '09/2012', 'Facility': 'Tennis Court 2', 'Member_Hours': 150.0}
{'Month_of_Use': '09/2012', 'Facility': 'Tennis Court 1', 'Member_Hours': 146.0}
{'Month_of_Use': '09/2012', 'Facility': 'Squash Court', 'Member_Hours': 92.0}
{'Month_of_Use': '09/2012', 'Facility': 'Pool Table', 'Member_Hours': 34.0}
{'Month_of_Use': '09/2012', 'Facility': 'Massage Room 2', 'Member_Hours': 14.0}
{'Month_of_Use': '08/2012', 'Facility': 'Massage Room 1', 'Member_Hours': 158.0}
{'Month_of_Use': '08/2012', 'Facility': 'Snooker Table', 'Member_Hours': 158.0}
{'Month_of_Use': '08/2012', 'Facility': 'Table Tennis', 'Member_Hours': 148.0}
{'Month_of_Use': '08/2012', 'Facility': 'Badminton Court', 'Member_Hours': 143.0}
{'Month_of_Use': '08/2012', 'Facility': 'Tennis Court 2', 'Member_Hours': 120.0}
{'Month_of_Use': '08/2012', 'Facility': 'Tennis Court 1', 'Member_Hours': 115.0}
{'Month_of_Use': '08/2012', 'Facility': 'Squash Court', 'Member_Hours': 92.0}
{'Month_of_Use': '08/2012', 'Facility': 'Pool Table', 'Member_Hours': 26.0}
{'Month_of_Use': '08/2012', 'Facility': 'Massage Room 2', 'Member_Hours': 9.0}
{'Month_of_Use': '07/2012', 'Facility': 'Massage Room 1', 'Member_Hours': 83.0}
{'Month_of_Use': '07/2012', 'Facility': 'Snooker Table', 'Member_Hours': 70.0}
{'Month_of_Use': '07/2012', 'Facility': 'Tennis Court 1', 'Member_Hours': 68.0}
{'Month_of_Use': '07/2012', 'Facility': 'Badminton Court', 'Member_Hours': 59.0}
{'Month_of_Use': '07/2012', 'Facility': 'Table Tennis', 'Member_Hours': 49.0}
{'Month_of_Use': '07/2012', 'Facility': 'Tennis Court 2', 'Member_Hours': 41.0}
{'Month_of_Use': '07/2012', 'Facility': 'Squash Court', 'Member_Hours': 25.0}
{'Month_of_Use': '07/2012', 'Facility': 'Pool Table', 'Member_Hours': 6.0}
{'Month_of_Use': '07/2012', 'Facility': 'Massage Room 2', 'Member_Hours': 4.0}